<div>
  <svg viewBox="0 0 220 220" xmlns="https://www.w3.org/2000/svg">
    <%= for x <- 1..@puzzle.width, y <- 1..@puzzle.height do %>
      <.rect x={x} y={y} myself={@myself} alive={Map.get(@grid, {x, y}, false)} />
    <% end %>
  </svg>
  <.button phx-confirm="Are you sure?" phx-click="toggle" phx-target={@myself}>Toggle</.button>
  <.button phx-confirm="Are you sure?" phx-click="save" phx-target={@myself}>Save</.button>
</div>
