<svg viewBox="0 0 200 200" xmlns="https://www.w3.org/2000/svg">
  <!-- Simple rectangle -->
  <%= for x <- 0..10, y <- 0..10 do %>
    <.rect x={x} y={y} myself={@myself} alive={Map.get(@grid, {x, y}, false)} />
  <% end %>
</svg>
